#navbar{
    top:0;
    left:0;
    width:100%;
    height:55px;
    position:fixed;
    padding:10px;
    background-color:#1b1a36;
  }
  a{
    text-decoration:none;
  }
  
  li {
    display: inline;
    margin-right: 20px;
    color:white;
  }
  .nav-item{
    color:white;
    font-size:22px;
    font-family:sans-serif;
  }
  
  ul {
    list-style-type: none;
     text-align: left;
     
  }
  body{
    margin:0;
    padding:0;
     background-color:#6d6ac4;
     font-family:sans-serif;
  }
  #welcome-section{
    margin-top:55px;
    margin-bottom:0;
   
    padding:220px;
    text-align:center;
    font-size:30px;
  }
  #projects{
      margin-top:0;
      padding-top:0;
      padding-bottom:250px;
       
       text-align:center;
  }
  
  img{
    width:300px;
    height:300px
  }
  .myproject{
    display:inline-block;
    margin:20px;
    border:2px solid #1b1a36;
     margin-bottom:90px;
  }
  .project-tile{
    font-size:40px;
  }
  .myproject-title{     background-color:#1b1a36;
    padding:9px;
    margin-top:0;
    margin-bottom:0;
    color:white;
  }
  .showall{
    background-color:#1b1a36;
    color:white;
    padding:10px;
    margin-top:50px;
  }
  .showall:hover{
    background-color:white;
    color:black;
  }
  #contact{
   padding:200px;
    text-align:center;
    
  }
  .social{
    text-align:center;
  }
    form{
    border:2px solid black ;
    max-width: 600px;
    height:200px;
    margin: 0 auto;
 }
 .form-group{
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
    padding-top:15px ;
 }
 input{
    display: flex;
   width: 90%;
   margin-bottom: 10px;
   margin-top: 5px;
 }
 .register-btn{
    margin-bottom: 10px;

 }

  footer{
    text-align:right;
    padding-right:5%;
    background-color:#1b1a36;
    color:white;
    padding:10px;
    width: 100%;
  }
  
  
  hr{
  border-bottom:solid #1b1a36;
  width:100%;
  }
  
  h2{
    font-size:50px;
  }
  .contact-des{
    font-size:25px;
  }
  @media(max-width:680px){
    h1,h2{
      font-size:40px;
    }
    .intro,.contact-des{
      font-size:25px;
    }
  }
  @media(max-width:600px){
    h1,h2{
      font-size:30px;
    }
    .intro,.contact-des{
      font-size:15px;
    }
  }